.cart {
  margin: 2rem auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media only screen and (min-width: 599px) {
    flex-direction: row;
    height: 150px;
  }

  @media only screen and (min-width: 950px) {
    width: calc(100% - 40px);
  }

  &__items {
    flex: 0.7;
    margin-right: 1rem;
    margin-left: 1rem;

    @media only screen and (min-width: 599px) {
      margin-left: 0;
    }
  }

  &__summary {
    height: 250px;
    display: flex;
    flex: 0.3;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    margin-left: 1rem;
    margin-right: 1rem;

    @media only screen and (min-width: 599px) {
      margin-left: 0;
      margin-right: 0;
    }

    &__title {
        font-size: 1.2rem;
        font-weight: bold; 
    }

    &__price {
        display: flex;
        align-items: center;

        span {
            &:nth-child(1) {
                font-size: 0.9rem;
                flex: 0.6;
            }

            &:nth-child(2) {
                flex: 0.4;
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
    }

    &__checkoutBtn {
        padding: 10px 17px;
        border: 1px solid var(--secondary-color);
        border-radius: 10px;
        background: var(--primary-color);
        color: var(--light-color);
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;  

        &:focus {
            outline: none;
            border: 1px solid var(--secondary-color);
        }

        &:hover {
            opacity: 0.75;
        }
    }
  }
}
